        /*fonts*/
        @import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,400italic);
        @import url(https://fonts.googleapis.com/css?family=Glass+Antiqua);
        @import url(https://fonts.googleapis.com/css?family=Modern+Antiqua);
        @font-face {
          font-family: 'FontAwesome';
          src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?v=4.5.0');
          src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), 
          url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), 
          url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), 
          url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), 
          url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
          font-weight: normal;
          font-style: normal;
        }
        html{
            /*background-color: #cdcdcd;*/
        }
        body{
            line-height: 1.2em;
            color: #4d4b4d;
            background-color: #fff;
            font-family: 'Titillium Web', sans-serif;
            font-weight: normal;
            font-style: normal;
            /*font-size: .9em;*/
        }
        .diag{
            width: 200px;
            position: absolute;
            text-align: center;
            line-height: 2em;
            top: 70px;
            left: -25px;
            transform: rotate(315deg);
            -webkit-transform: rotate(315deg);
            -ms-transform: rotate(315deg);
            -moz-transform: rotate(315deg);
            -o-transform: rotate(315deg);
            box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
        }
        article{
            line-height: 1.5em;
        }
        article>h4{
            font-size: 1.8em;
            line-height: 1.5em;
            /*font-style: italic;*/
            color: #888;
            margin: 1.5em .2em .3em 0;
        }
        .iep_syllabus_title{
            /*font-size: 1.2em;*/
        }
        .iep_syllabus_title:hover{
            /*font-size: 1.4em;*/
            /*cursor: pointer;*/
        }
        .iep_syllabus_title>.show_hide_buttons{
            float: right;
            padding: 0;
            font-size: .6em;
            color: #999;
            font-weight: normal;
            vertical-align: middle;
        }
        .iep_syllabus_title>.show_hide_buttons>.btn_show{
            margin: 0 1em 0 0;
            color: #326c9c;
        }
        .iep_syllabus_title>.show_hide_buttons>.btn_hide{
            margin: 0 0em 0 0;
            color: #ffde58;
        }
        .iep_syllabus_title>.show_hide_buttons>span:hover{
            /*font-size:.9em;*/
            cursor: pointer;
        }
        .iep_syllabus .total_hours{
            float: right;
            color: #BA7274 ;
        }
        .iep_course_project{
                    margin: 1em 0 0 0;
        }
        /*~~~~~~~~~~ text   ~~~~~~~~~~*/
        p{
            margin: .5em 0;
        }
        .small{
            font-size: .8em;
        }
        /*~~~~~~~~~~ links  ~~~~~~~~~~*/
        a{
            text-decoration: none;
            color: inherit;
            border-bottom: .1em solid #326c9c;
        }
        a:visited{
           color: inherit;
        }
        a:hover{
            text-decoration: none;
            border-bottom: none;
            /*background-color: #239DD5;*/
            /*color: #FFF;*/
        }              

        /*~~~~~~~~~~ The list  ~~~~~~~~~~*/
        .iep_syllabus_themes{
            margin-bottom: 1em;
        }
        .iep_syllabus_themes>li{
                    margin: 1.5em 0 0 0;
                    list-style-type: none;
        }
        .iep_syllabus_themes>li>h3{
            display: inline-block;
            width: 100%;
            font-size: 1.1em;
            font-weight: bold;
            color: #555555;
            line-height: 1.5em;
            letter-spacing: .1em;
            border-bottom: .07em solid #ffde58;
        }
        .iep_syllabus_themes>li>h3:hover{
            cursor: pointer;
        }
        .iep_syllabus_themes>li>h3>a{
            display: inline-block;
            width: 2em;
            vertical-align: top;
            /*margin-right:.8em;*/
            text-decoration: none;
            border: 0;
        }
        .iep_syllabus_themes>li>h3>a:before{
            content: "\f1c4";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .iep_syllabus_themes>li>h3>a.nonready{
            color: #BBB;
        }
        .iep_syllabus_themes>li>h3:hover>a.ready, .grabAttnetion{
            background: none;
            font-weight: bold;
            /*important - because of strange chrome bug: depending on href value not always work !!!;*/
            color: #FFF !important;
            text-shadow:
                1px 1px 1px #FFB77B,
                -1px -1px 1px #FFB77B,
                2px 2px 2px #FFB97C,
                -2px -2px 2px #FFB97C,
                3px 3px 3px #ffde58,
                -3px -3px 3px #ffde58,
                4px 4px 4px #ffde58,
                -4px -4px 4px #ffde58;
            animation: shake .07s ease-in-out 2;
        }
        @keyframes shake{
            from{  
                transform: rotate(2deg);             
                opacity: .2;
            }
            to{
               transform: rotate(-2deg); 
            }
        }
        .iep_syllabus_themes .label{
            display: inline-block;
            width: 85%;
            vertical-align: middle;
        }
        .iep_syllabus_themes .arrow_down::after{
            /*content: "\f078";*/
            content: "\f0d7";
            margin-left: .5em;
            font-family: FontAwesome;
            text-decoration: none;
            font-size: .9em;
            color: #ffde58;
        }
        .iep_syllabus_themes .arrow_up::after{
            /*content:  "\f077";*/
            content: "\f0d8";
            margin-left: .5em;
            font-family: FontAwesome;
            font-size: .9em;
            text-decoration: none;
            color: #326c9c;
        }
        .iep_syllabus_themes>li>h3:hover>.label{
            /*font-size: 1.1em;*/
        }
        .iep_syllabus_themes .arrow{
            vertical-align: bottom;
            font-size: .8em;
            color: #FF7C00;
            content: "\f00c";
            font-family: FontAwesome;
            text-decoration: none;
            /*color: #437F73;*/
        }
        .iep_syllabus_themes>li>h3:hover>.arrow{
            font-size: 1.2em;
        }
        .iep_syllabus_themes .hours{
            float: right;
            padding: 0 0 0 1em;
            font-weight: normal;
            color: #999;
        }
        .iep_syllabus_themes .hours::after{
            content: ' h.';
        }
        .iep_syllabus_sub_themes{
            margin-left: 2.3em;
        }
        .iep_syllabus_sub_themes>li{
            line-height: 2em;
            margin-left: .5em;
        }

        /*~~~~~~~~~~ accents  ~~~~~~~~~~*/
        .iep_syllabus_sub_themes .kw{
                    font-size: 1em;
                    font-style: normal;
                    color: #333;
        }
