h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover,
div:hover,
p:hover,
a:hover{
    cursor: pointer;
}
/*~~~~~~~~~~ links  ~~~~~~~~~~*/
a{
    text-decoration: none;
    color: inherit;
}
a:visited{
   color: inherit;
}
a:hover{
    text-decoration: none;
    border-bottom: .1em solid #326c9c;
    /*background-color: #239DD5;*/
    /*color: #FFF;*/
}
/*a.ready{
    color: inherit;
}*/
a.nonready{
    color: #BBB;
}
/*~~~~~~~~~~ classes  ~~~~~~~~~~*/
.clear_block:after{
	display: block;
	content: "";
	clear: both;
}
.hidden{
	/*display: inline-block;*/
	font-size: 0px;
	line-height: 0;
	visibility: hidden;
	height: 0;
}
code.kw:before, code.kw:after{content: "'"}

/*text position*/
.reveal section .sup{
    position: relative;
    bottom: .5em;
    font-size: .7em;

}
.reveal section .sub{
    position: relative;
    top: .5em;
}